body {
        --main-blue: #3a6cf4;

}



header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: #f0f0f0;
    justify-content: space-between;
    position: fixed;
    padding:  10px 200px;
    z-index: 999;



}

.logo {
   text-decoration: none;
   font-size: 1.8em;
   font-weight: 700;
   color: #3a6cf4;
   text-transform: uppercase;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #3a6cf4;
    margin-left: 30px;    
 }

 nav a:hover {
     color: #aa3af4;
 }

 .main {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 10px 20px;
     
 }

   .title {
    font-size: 1.8em;
   }

   .title {
    color: var(--main-blue);
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 2.2em;
   }

   .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   }

   .card {
       background-color: white;
       width: 21.25em;
       padding: 25px;
       margin: 15px;
        box-shadow: 0 10px 20px black;  
   }

   .card:hover{
     transform: scale(1.1);

   }

   .icon {
    text-align: center;
     color: var(--main-blue);
     font-size: 8em;
   }
   .skills-container {
    display: inline;
    flex-wrap: wrap; /* Ensures responsiveness */
    justify-content: center; /* Centers the cards */
    gap: 20px; /* Space between cards */
}

.skill-card {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    background: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    display: inline;
}

 @media (max-width: 750) {
    body {
        font-size: 12px;

    }
 }


 @media (max-width: 400) {
    body {
        font-size: 10px;
        
    }
 }

.projects-container {
    display: inline;
}

.skills {
   display: flex;
flex-wrap: wrap;
justify-content: center;}
.container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

